{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>
                My Tickets
            </h3>
            <table class="table">
                <col width="20">
                <col width="150">
                <col width="50">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Latest Comment
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            RITM000001
                        </td>
                        <td>
                            <div class="track">
                                <div class="step active">
                                    <span class="icon"><i class="fa fa-handshake"></i></span>
                                    <span class="text">Approved</span>
                                </div>
                                <div class="step active">
                                    <span class="icon"><i class="fas fa-list"></i></span>
                                    <span class="text">Backlog</span>
                                </div>
                                <div class="step active">
                                    <span class="icon"><i class="fas fa-hammer"></i></span>
                                    <span class="text">In Development</span>
                                </div>
                                <div class="step active">
                                    <span class="icon"><i class="fa fa-vial"></i></span>
                                    <span class="text">Testing</span>
                                </div>
                                <div class="step active">
                                    <span class="icon"><i class="fas fa-truck-moving"></i></span>
                                    <span class="text">Release Scheduled</span>
                                </div>
                                <div class="step">
                                    <span class="icon"><i class="fas fa-check"></i></span>
                                    <span class="text">Done</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            Theobald Mulligan on<br>Monday, 2020-02-03 07:55 AM EST:<br>
                            Release scheduled for next week
                        </td>
                    </tr>
                    <tr>
                        <td>
                            RITM000002
                        </td>
                        <td>
                            <div class="track">
                                <div class="step active">
                                    <span class="icon"><i class="fa fa-handshake"></i></span>
                                    <span class="text">Approved</span>
                                </div>
                                <div class="step active">
                                    <span class="icon"><i class="fas fa-list"></i></span>
                                    <span class="text">Backlog</span>
                                </div>
                                <div class="step active">
                                    <span class="icon"><i class="fas fa-hammer"></i></span>
                                    <span class="text">In Development</span>
                                </div>
                                <div class="step">
                                    <span class="icon"><i class="fa fa-vial"></i></span>
                                    <span class="text">Testing</span>
                                </div>
                                <div class="step">
                                    <span class="icon"><i class="fas fa-truck-moving"></i></span>
                                    <span class="text">Release Scheduled</span>
                                </div>
                                <div class="step">
                                    <span class="icon"><i class="fas fa-check"></i></span>
                                    <span class="text">Done</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            Laurel Haig on<br>Friday, 2020-01-03 12:02 PM EST:<br>
                            We're converting the data into the new databsae now
                        </td>
                    </tr>
                    <tr>
                        <td>
                            RITM000003
                        </td>
                        <td>
                            <div class="track">
                                <div class="step">
                                    <span class="icon"><i class="fa fa-handshake"></i></span>
                                    <span class="text">Approved</span>
                                </div>
                                <div class="step">
                                    <span class="icon"><i class="fas fa-list"></i></span>
                                    <span class="text">Backlog</span>
                                </div>
                                <div class="step">
                                    <span class="icon"><i class="fas fa-hammer"></i></span>
                                    <span class="text">In Development</span>
                                </div>
                                <div class="step">
                                    <span class="icon"><i class="fa fa-vial"></i></span>
                                    <span class="text">Testing</span>
                                </div>
                                <div class="step">
                                    <span class="icon"><i class="fas fa-truck-moving"></i></span>
                                    <span class="text">Release Scheduled</span>
                                </div>
                                <div class="step">
                                    <span class="icon"><i class="fas fa-check"></i></span>
                                    <span class="text">Done</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            Lilly Soriano on<br>Thursday, 2020-01-02 04:55 PM EST:<br>
                            We met today to discuss requirements
                        </td>
                    </tr>
                    <tr>
                        <td>
                            RITM000003
                        </td>
                        <td>
                            <div class="track">
                                <div class="step done">
                                    <span class="icon"><i class="fa fa-handshake"></i></span>
                                    <span class="text">Approved</span>
                                </div>
                                <div class="step done">
                                    <span class="icon"><i class="fas fa-list"></i></span>
                                    <span class="text">Backlog</span>
                                </div>
                                <div class="step done">
                                    <span class="icon"><i class="fas fa-hammer"></i></span>
                                    <span class="text">In Development</span>
                                </div>
                                <div class="step done">
                                    <span class="icon"><i class="fa fa-vial"></i></span>
                                    <span class="text">Testing</span>
                                </div>
                                <div class="step done">
                                    <span class="icon"><i class="fas fa-truck-moving"></i></span>
                                    <span class="text">Release Scheduled</span>
                                </div>
                                <div class="step done">
                                    <span class="icon"><i class="fas fa-check"></i></span>
                                    <span class="text">Done</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            Diana Rennell on<br>Wednesday, 2020-02-26 10:37 AM EST:<br>
                            Feature released yesterday
                        </td>
                    </tr>
                    <tr>
                        <td>
                            RITM000004
                        </td>
                        <td>
                            <div class="track">
                                <div class="step blocked">
                                    <span class="icon"><i class="fa fa-handshake"></i></span>
                                    <span class="text">Approved</span>
                                </div>
                                <div class="step blocked">
                                    <span class="icon"><i class="fas fa-list"></i></span>
                                    <span class="text">Backlog</span>
                                </div>
                                <div class="step blocked">
                                    <span class="icon"><i class="fas fa-hammer"></i></span>
                                    <span class="text">In Development</span>
                                </div>
                                <div class="step blocked">
                                    <span class="icon"><i class="fa fa-vial"></i></span>
                                    <span class="text">Testing</span>
                                </div>
                                <div class="step">
                                    <span class="icon"><i class="fas fa-truck-moving"></i></span>
                                    <span class="text">Release Scheduled</span>
                                </div>
                                <div class="step">
                                    <span class="icon"><i class="fas fa-check"></i></span>
                                    <span class="text">Done</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            Lilly Soriano on<br>Thursday, 2020-01-02 04:55 PM EST:<br>
                            Regression tests failed
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>
                Create Ticket
            </h3>
            <form role="form">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" /> Check me out
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}