/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
    width: 180px;
}


.form-register {
    width: 50%;
}

.form-register .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #999999;
}

footer a {
    color: #999999;
}

footer p {
    float: right;
    margin-right: 25px;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 10px;
}

footer .company {
    float: left;
    margin-left: 25px;
}

footer .footer-nav {
    float: right;
    margin-right: 25px;
    list-style: none;
}

/*
Tracker styling
See https://bbbootstrap.com/snippets/order-tracking-template-all-details-34023037
*/
.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative
}

.track .step.active:before {
    background: #0275d8
}

.track .step.done:before {
    background: #5cb85c
}

.track .step.blocked:before {
    background: #f0ad4e
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}

.track .step.active .icon {
    background: #0275d8;
    color: #fff
}


.track .step.done .icon {
    background: #5cb85c;
    color: #fff
}

.track .step.blocked .icon {
    background: #f0ad4e;
    color: #fff
}

.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd
}

.track .step.active .text {
    font-weight: 400;
    color: #000
}

.track .text {
    display: block;
    margin-top: 7px
}